## Project 1 : [Title]

[Project description]

### Insert 1st Question Here

In [ ]:
# Insert code here -> use magic commands

### Insert 2nd Question Here

In [ ]:
# Insert code here

### Appendix A - Code for creating views/tables

#### trip_dow_hour view

```sql
SELECT trip_id, bike_number, 
    EXTRACT(DAYOFWEEK FROM start_date) AS start_dow_int,
    CASE EXTRACT(DAYOFWEEK FROM start_date)
        WHEN 1 THEN "Sunday"
        WHEN 2 THEN "Monday"
        WHEN 3 THEN "Tuesday"
        WHEN 4 THEN "Wednesday"
        WHEN 5 THEN "Thursday"
        WHEN 6 THEN "Friday"
        WHEN 7 THEN "Saturday"
        END AS start_dow_str,
    EXTRACT(HOUR FROM start_date) AS start_hour,
    
    EXTRACT(DAYOFWEEK FROM end_date) AS end_dow_int,
    CASE EXTRACT(DAYOFWEEK FROM end_date)
        WHEN 1 THEN "Sunday"
        WHEN 2 THEN "Monday"
        WHEN 3 THEN "Tuesday"
        WHEN 4 THEN "Wednesday"
        WHEN 5 THEN "Thursday"
        WHEN 6 THEN "Friday"
        WHEN 7 THEN "Saturday"
        END AS end_dow_str,
    EXTRACT(HOUR FROM end_date) AS end_hour,
    start_station_name, start_station_id, end_station_name, end_station_id,
FROM `bigquery-public-data.san_francisco.bikeshare_trips`
ORDER BY trip_id;
```

#### station_region view

```sql 
SELECT station_id, short_name AS station_short_name, s.region_id, r.name AS region_name
FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` s
INNER JOIN `bigquery-public-data.san_francisco_bikeshare.bikeshare_regions` r ON s.region_id = r.region_id
ORDER BY station_id;
```

#### trips_with_regions view

```sql 
SELECT trip_id, start_station_name, station_short_name, start_station_id, end_station_name, end_station_id, bike_number, region_id, region_name  FROM
(SELECT *
FROM `bigquery-public-data.san_francisco.bikeshare_trips`
INNER JOIN `bike_trip_data.station_region` ON start_station_id = station_id)
```